.container-fluid
  .row
    %nav.col-md-2.d-none.d-md-block.bg-light.sidebar
      .sidebar-sticky
        %ul.nav.flex-column
          %li.nav-item
            = link_to nil, :class => "nav-link" do
              %span{"data-feather" => "home"}
              = current_user.email
              %span.sr-only (current)
          %li.nav-item
            = link_to control_users_path, :class => "nav-link" do
              %span{"data-feather" => "file"}
              个人中心
          - if can? :index, Buyer
            %li.nav-item
              = link_to buyers_path, :class => "nav-link" do
                %span{"data-feather" => "file"}
                客户管理
          - if can? :index, Role 
            %li.nav-item
              = link_to roles_path, :class => "nav-link" do
                %span{"data-feather" => "file"}
                角色管理
          - if can? :index, User
            %li.nav-item
              = link_to users_path, :class => "nav-link" do
                %span{"data-feather" => "file"}
                用户管理
        %h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
          %span Saved reports
          %a.d-flex.align-items-center.text-muted{:href => "#"}
            %span{"data-feather" => "plus-circle"}
        %ul.nav.flex-column.mb-2
          %li.nav-item
            %a.nav-link{:href => "#"}
              %span{"data-feather" => "file-text"}
              Current month
    %main.col-md-9.ml-sm-auto.col-lg-10.pt-3.px-4{:role => "main"}
      .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom
        %h1.h2
          = t(controller_name + "." + action_name + '.title')
      = yield :main_body 
